<%- include('../partials/header') %>
<form id="add-user-form" action="/user" method="POST">
  <label>Username:</label>
  <input type="text" name="username" />
  <label>Field of work:</label>
  <input type="text" name="field" />
  <input type="submit" value="Add User" />
</form>

<%- include('../partials/footer') %>
